/* Disable highlight color */
* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../font/Roboto-Regular-webfont.eot');
    src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	color: white;
	background-color: #303030 !important;
	background-size: 16px 16px;
}


html, body {
	width: 100%;
	height: 100%;
	/*min-height: 400px;*/
	margin: 0;
	font: 24px/1em 'RobotoRegular', 'Droid Sans', sans-serif;
	overflow: hidden;
}

@-webkit-keyframes slide {
    from{
        background-position:575px;
    }
    to{
        background-position:1725px;
    }
}

#debug{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 11px;
	font-family: Courier;
	text-shadow: 1px 1px #000;
	z-index: 999999;
	background: rgba(0,0,0,0.25);
	padding:1em;
	margin:0.5em;
}

#mainScreen {
	/*background: url('../img/bg_center.jpg') no-repeat center center;*/
	overflow: hidden;
	transition-property: all;
	transition-timing-function: ease-in-out;
	opacity: 0;
	
	/* Animated background */
	/*background-image: url('../img/cloudsDark.png');
	-webkit-animation: slide 60s linear infinite;*/
}

#mainScreen {
	margin: auto;
	height: 100%;
	width: 100%;
	/*border:10px red solid;*/
}

#hud{
	
}

.centerBoth {
   /*position: absolute;
   left: 50%;
   top: 50%; */
   
   margin:auto;
   padding-top:1.5em;
   
   width: 400px;
   height: 400px;
   /*margin-left: -200px;
   margin-top: -200px;*/
}

.special-button {
	position: absolute;
	min-width: 2em;
	text-align: center;
	z-index: 999;
	font-size:larger;
}

.loginButton{
	font-size: 0.9em;
	text-shadow: rgba(255,255,255,.9) 1px 1px 0;
}

#wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

#camera {
	right: 0.25em;
	bottom: -0.3em;
}

#video {
	right: 4em;
	bottom: -0.3em;
}

#upload {
	min-width: 2em;
	left: -0.5em;
	bottom: -0.3em;
}

#history {
	text-align: left;
	min-width: 2em;
	top: 0.5em;
	right: -1.25em;;
}

#volume {
	min-width: 2em;
	left: -2em;
	top: 0.5em;
}

.lable {
	color: white;
}

h1 {
	padding: 0.25em;
	font-size: 1em;
	line-height: 1em;
	text-shadow: 1px 5px 5px #222;
}

.inputField {
	border: 3px solid #ebe6e2;
	border-radius: 5px;
	width: 60%;
	box-shadow: 1px 5px 5px #333;
	color: hsl(208, 50%, 30%);
	font-weight: normal;
	padding: 0.1em;
}

#greeting {
	margin: 1em;
	
	position: absolute;
	z-index: 100;
	
	left:50%;
	width: 400px;
	margin-left: -200px;
	
	text-shadow: 2px 2px 2px black;
	/*-webkit-text-stroke: 0.8px;*/
}

.loading {
	color: #555;
}

#column1-wrap {
	float: left;
	width: 100%;
}
#column1 {
	margin-right: 250px;
}
#column2 {
	float: left;
	width: 250px;
	margin-left: -250px;
	font-size: 0.9em;
}

#eventsBox {
	/*overflow: auto;*/
	/*overflow-y: scroll;*/
}


/* Fancy scroll bars */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.1); 
}


/* Gallery */
.scroll-pane {
	width: 100%;
	height: 250px;
	overflow: auto;
	position: absolute;
	top: 2em;
}

.loading-icon-wrapper {
	text-align: center;
	z-index: 1;
}

.loading-icon {
	position: absolute;
	top: 40%;
	font-size: 2em;
	color: #777;
	z-index: 99;
}

.thumbnail {
	position: relative;
	/*width: 10em;*/
	/*padding: 0.2em;*/
}

.thumbnail-item {
	width: 100%;
}

.thumbnail-item video{
	width: 100%;
}

.pagination-main {
    left: 10px;
    top: 20px;
    width: 160px;
	position:absolute;
	z-index:20;
	display:none;
}
.pagination-main .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 5px;
    opacity: 0.8;
    width: 8px;
    float: left;
}
.pagination-main .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}

.niceForm input, select{
	margin: 4px;
	padding: 8px 10px;
	-webkit-border-radius: 5px;
	border: 1px solid #bbb;
}

.myspinner{
   width: 100%;
   height: 1000px;
   position: absolute;
   left: 50%;
   top: 20%; 
   margin-left: -50%;
   margin-top: -500px;
   background: rgba(48, 48, 48, 0.8);
}

.spinner-container{
	
}
.spinner-item{
	padding: 2em;
	margin: auto;
	width: 50px;
}

#media-viewer, #media-capture{
	transition-property: all;
	transition-timing-function: ease-in-out;
	
	/* HW acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	
	background: #222; /*rgba(0,0,0,0.9);*/
	/* box-shadow: inset 0 0 10px #0f0; /* debug */ 
	width:100%;
	height:100%;
	position: absolute;
	z-index: 9999;
}

#media-feed{
	margin: auto;
	
	height: 500px;
	text-align: center;
	padding: 1em;
}

#media-feed h3{
	padding: 0.5em;
}

#media-feed-controls{
	padding: 1em;
}

#captureDeviceContainer{
	width: 640px;
	height: 480px;
	position: relative;
	margin: auto;
	
	-webkit-border-radius: 10px;
	border: 4px solid white;
	
	overflow: hidden;
}

#captureDeviceContainer canvas{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
}

#captureIcon{
	color: rgba(255,255,255,0.25);
	font-family: FontAwesome;
	font-size: 200px;
	
	padding-top: 230px;
	padding-left: 220px;
	position: absolute;
}

#snapMedia{
	width: 1.5em;
	font-size: 1.5em;
}

#cancelButton{
	text-decoration:none; 
	position:absolute; 
	right:0px; 
	width:1em; 
	height:1em; 
	border: 2px solid white;
	color:white;
	z-index: 999;
	background: rgba(0,0,0,0.3);
}


#rec-icon{
	position: absolute;
	left: 20px;
	top: 20px;
	color: red;
	font-size: 2em;
	z-index: 9999;
}

/* This parent can be any width and height */
.block {
  text-align: center;
  background: black;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /*margin-right: -0.25em;  Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width:99%;
}


#media-viewer figure{
	padding: 0;
	margin: 0;
}

#media-viewer-item{
	/* HW acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

#mediaCaption{
	width: 100%;
	height: 5em;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-webkit-transform: translateY(-5em);
}

#highRes{
	-webkit-transition: -webkit-transform 0.4s, opacity 1.0s;
	-webkit-transform: translateY(0);
}

.lowRes{
	-webkit-transition: -webkit-transform 0.4s, opacity 0.5s;
}

#mediaCaption.clicked{	-webkit-transform: translateY(0em);}
#highRes.clicked{-webkit-transform: translateY(5em);}

#mediaCaption.clicked.not{	-webkit-transform: translateY(-5em);}
#highRes.clicked.not{-webkit-transform: translateY(0em);}

#captionContainer{
	padding: 1em;
	background: rgba(0,0,0,0.5);
}
.captionSpinner{
	width: 0.5em;
	height: 0.5em;
	padding: 0.75em;
}

#captionContainer h2{
	color: white;
}
#captionContainer h3, h4{
	color: #777;
	font-size: smaller;
}
#captionContainer h4{
	font-size: small;
}

.toolbar{
	min-height: 2em;
	padding: 0.25em;
	float: right;
	margin-right: 1em;
	text-align: center;
}

#media-viewer-loading{
	color:white;
	background: rgba(0,0,0,0.5);
	position: absolute;
	text-align: center;
	z-index: 9999;
	padding: 1em;
}

#special-upload-form{
	padding: 2em;
	margin: 2em;
	
	position: absolute;
	width: 640px;
	height: 480px;
	z-index: 9999;
	
	background: #555;
	border: 2px solid black;
	
	box-shadow: 5px 5px 20px black;
}

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/
.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	/*background: url('../img/uploadify-cancel.png') 0 0 no-repeat;*/
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
}
.uploadify-progress {
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	height: 3px;
	width: 1px;
}
