/* Disable highlight color */
*{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

html {
	color: white;
	
	background-color:#444 !important;
	background-size:16px 16px;
}

html,body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	font: 24px/1em 'Droid Sans', sans-serif;
}

body {
	/*background: url('../img/bg_center.jpg') no-repeat center center;*/
	overflow: hidden;
	
	transition-property: all;
  	transition-timing-function: ease-in-out;
  	opacity: 0;
}
.special-button {
	position: absolute;
	min-width: 4em;
	text-align: center;
}

#wrapper {
	min-height: 100%;
}

#camera {
	left: 70%;
	bottom: 0%;
}

#video {
	left: 40%;
	bottom: 0%;
}

#upload {
	min-width: 2em;
	left: -1em;
	bottom: 0%;
}

#history {
	min-width: 2em;
	right: -1em;
	top: 0em;
	right: -1em;
}

#volume {
	min-width: 2em;
	left: -1em;
	top: 0em;
}

.lable{
	color: white;
}


h1{
	padding: 0.25em;
	font-size: 1em;
	line-height: 1em;
	text-shadow:1px 5px 5px #222;
}

.inputField{
	border: 3px solid #ebe6e2;
	border-radius: 5px;
	width: 6em;
	box-shadow: 1px 5px 5px #222;
	color: hsl(208, 50%, 30%);
	font-weight: normal;
	padding:0.1em;
}

#greeting{
	margin: 1em;
}

.button{
	font-size: 0.75em;
}

.loading{
    color: #555;
}

#column1-wrap{
    float: left;
    width: 100%;
}
#column1{
    margin-right: 300px;
}
#column2{
    float: left;
    width: 300px;
    margin-left: -300px;
    font-size: 0.9em;
}

#eventsBox{
	overflow:auto;
    overflow-y: scroll;
}

.thumbnail{
	width: 200px;
}

.scroll-pane
{
	width: 100%;
	height: 150px;
	overflow: auto;
}